
.body{
    background: #F7FCFF !important;
    overflow-x: hidden;
}

*{
    /* color: #F0F4F7; */
    font-family: 'Messina Sans', sans-serif;
    font-weight: 400;
}

/* Flex related styles */

.flexAlignStart{
    flex-direction: column;
    align-items: flex-start;
}

.flexAlignEnd{
    flex-direction: column;
    align-items: flex-end;
}

/* Buttons  */

.btn-primary.buttonWhite{
    color: #004c54;
    background-color: #FFFFFF;
    border-color: #FFFFFF; 
    border-radius: 0px;
    letter-spacing: 0.15rem;
    
}
.btn-primary.buttonWhite:hover{
    color: #FFFFFF;
    background-color: #004c54;
    border-color: #FFFFFF; 
    box-shadow: none;
    border-radius: 0px;
    letter-spacing: 0.15rem;

}
.btn-primary.buttonWhite:focus{
    color: #FFFFFF;
    background-color: #004c54;
    border-color: #FFFFFF; 
    box-shadow: none;
    border-radius: 0px;
    letter-spacing: 0.15rem;
}

/* Font styles & sizes */

.mcfH1{
    padding-right: 2%;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.1rem; 
}

.buttonBar{ 
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background: rgb(247,252,255);
    /* background: #2cdc83; */
    display: flex;
    justify-content: space-between;
/* background: linear-gradient(0deg, rgba(247,252,255,0.01) 0%,  rgba(247, 252, 255, 0.815) 25%); */

}

/* sticky button  */
/* Find your plan button */
.btn-primary.buttonWhiteNav{
    color: #004c54;
    /* background-color: #FFFFFF; */
    /* background-color: rgba(247, 252, 255, 0.815); */
    background-color: #2cdc83;

    border: none; 
    border-radius: 0px;
    box-shadow: none;
    /* font-size: 1.2rem; */
    letter-spacing: 0.15rem;
    height: max-content;
}

.btn-primary.buttonWhiteNav:hover{
    color: #FFFFFF;
    background-color: #2cdc83;
    /* background-color: rgba(0,76,84,0.815); */
    /* border-color: #FFFFFF;  */
    border: none;
    border-radius: 0px;
    box-shadow: none;
    /* font-size: 1.2rem; */
    letter-spacing: 0.15rem;
}

.btn-primary.buttonWhiteNav:focus{
    color: #FFFFFF;
    /* background-color: #004c54; */
    /* border-color: #FFFFFF;  */
    border: none;
    background-color: #2cdc83;
    border-radius: 0px;
    box-shadow: none;
    
    /* font-size: 1.2rem; */
    letter-spacing: 0.15rem;
}